.cali {
    background-color: rgb(27, 28, 32);
    color: bisque;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.headline {
    text-align: center;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.font {
    font-size: 20px;
}